{% extends "users/base.html" %}
{% block title %}Profile List{% endblock title %}
{% block content %}
    <body style="background-color: rgb(116, 183, 221);">
        <div class="container my-3" style="background-color: antiquewhite;">
            <h2>Profile List</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Avatar</th>
                        <th>Bio</th>
                    </tr>
                </thead>
                <tbody>
                    {% for profile in profiles %}
                        <tr>
                            <td>{{ profile.user.username }}</td>
                            <td>{{ profile.user.email }}</td>
                            <td><img src="{{ profile.avatar.url }}" alt="Avatar" style="width: 50px; height: 50px;"/></td>
                            <td>{{ profile.bio }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4">No profiles found.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
   
{% endblock content %}
